<div class="card">
    <img *ngIf="displayFallbackImg" class="card-img-top" src="../../../../assets/noImageFound.png">
    <img *ngIf="!displayFallbackImg" class="card-img-top" [src]="article.urlToImage" (error)="onImageError()"
        alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{article.title}}</h5>
        <p class="card-text">{{article.description}}</p>
        <div style="display: flex; justify-content: center; margin-bottom: -10px;">
            <button style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" mat-button
                (click)="onReadFullArticleClick()">READ FULL
                ARTICLE</button>
        </div>
    </div>
</div>