.loader-content {
    display: flex; 
    height: 90vh;
}

.loader-content mat-spinner {
    margin:0 auto; 
    align-self: center;
}

.load-more-btn {
    padding-bottom: 20px; 
    margin-top: 20px;
}

.load-more-btn button {
    border-radius: 30px; 
    width: 100%;
}