<p>
    <mat-toolbar color="primary">
        <div class="col-sm-3">
            <span>News Portal</span>
        </div>

        <div class="col-sm-6" style="padding: 0;">
            <app-search-bar [searchTerm]="requestParams.q" [placeholder]="'Search headline articles...'"
                (onSearchEvent)="onSearch($event)"></app-search-bar>
        </div>

    </mat-toolbar>
</p>

<div class="container">
    <div *ngIf="!displayLoader; else loaderContent">
        <div class="card-columns">
            <app-article-card *ngFor="let ar of headlineArticles?.articles" [article]="ar"
                (readFullArticleEvent)="onReadFullArticleClick($event)">
            </app-article-card>
        </div>

        <div *ngIf="headlineArticles?.totalResults === 0" class="loader-content no-results-msg ">
            <app-no-data [isError]="false"></app-no-data>
        </div>

        <div *ngIf="errorMsg" class="loader-content no-results-msg ">
            <app-no-data [isError]="true" (tryAgainEvent)="fetchTopHeadlines()"></app-no-data>
        </div>

        <div class="row" class="pag-buttons" *ngIf="headlineArticles?.totalResults > 0">
            <div class="col" style="display: flex; justify-content: center;">
                <button *ngIf="requestParams.page > 1" mat-raised-button color="primary"
                    (click)="onPreviousButtonClick()">Previous</button>
                <button [disabled]="disableLoadMoreBtn" mat-raised-button color="primary" style="margin-left: 5px;"
                    (click)="onLoadMoreButtonClick()">
                    Load more
                </button>
            </div>

        </div>
    </div>

    <ng-template #loaderContent>
        <div *ngIf="displayLoader" class="loader-content">
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>
</div>