.loader-content {
    display: flex; 
    height: 90vh;
}

.loader-content mat-spinner {
    margin:0 auto; 
    align-self: center;
}

.pag-buttons {
    padding-bottom: 20px; 
    margin-top: 20px;
}

.pag-buttons button {
    border-radius: 30px; 
}

.no-results-msg {
    justify-content: center;
    flex-direction: column;
}