<p>
    <mat-toolbar color="primary">
        <span>News Portal</span>
    </mat-toolbar>
</p>

<div class="container">
    <div>
        <div class="card-columns">
            <app-article-card *ngFor="let ar of headlineArticles?.articles" [article]="ar"></app-article-card>
        </div>

        <div *ngIf="!displayLoader" class="row" class="load-more-btn">
            <div class="col-lg-4 col-sm-6 ml-auto mr-auto">
                <button [disabled]="disableLoadMoreBtn" mat-raised-button color="primary"
                    (click)="onLoadMoreButtonClick()">Load more</button>
            </div>
        </div>

    </div>

    <div *ngIf="displayLoader" class="loader-content">
        <mat-spinner></mat-spinner>
    </div>
</div>