.loader-content {
    display: flex; 
    height: 90vh;
}

.loader-content mat-spinner {
    margin:0 auto; 
    align-self: center;
}

.sort-content {
    display: flex; 
    justify-content: flex-end;
}

.no-results-msg {
    justify-content: center;
    flex-direction: column;
}