<p>
    <mat-toolbar color="primary">
        <div class="col-sm-3">
            <span style="cursor: pointer;" routerLink="/">News Portal</span>
        </div>
        <div class="col-sm-6" style="padding: 0;">
            <app-search-bar [searchTerm]="requestParams.q" (onSearchEvent)="onSearch($event)"></app-search-bar>
        </div>
    </mat-toolbar>
</p>

<div class="container">
    <div class="sort-content">
        <mat-form-field appearance="fill">
            <mat-label>Sort by</mat-label>
            <mat-select (selectionChange)="onSortOptionChanged($event)">
                <mat-option *ngFor="let option of articleService.sortOptions" [value]="option.value">
                    {{option.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div *ngIf="!displayLoader; else loaderContent">
        <div class="card-columns">
            <app-article-card *ngFor="let ar of articles?.articles" [article]="ar"
                (readFullArticleEvent)="onReadFullArticleClick($event)">
            </app-article-card>
        </div>

        <div *ngIf="articles?.totalResults === 0" class="loader-content no-results-msg ">
            <app-no-data [isError]="false"></app-no-data>
        </div>

        <div *ngIf="errorMsg" class="loader-content no-results-msg ">
            <app-no-data [isError]="true" (tryAgainEvent)="searchArticles()"></app-no-data>
        </div>
    </div>

    <ng-template #loaderContent>
        <div *ngIf="displayLoader" class="loader-content">
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>
</div>