<p>
    <mat-toolbar color="primary">
        <div class="col-sm-3">
            <span style="cursor: pointer;" routerLink="/">News Portal</span>
        </div>
        <div class="col-sm-6" style="padding: 0;">
            <div class="input-group">
                <input type="text" [(ngModel)]="searchTerm" class="form-control" placeholder="Search articles..."
                    aria-label="Search articles..." aria-describedby="basic-addon1" style="border-radius: 30px;">
                <div class="input-group-append">
                    <button (click)="onSearchBtnClick()" mat-icon-button>
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </mat-toolbar>
</p>

<div class="container">
    <div *ngIf="!displayLoader; else loaderContent">
        <div class="card-columns">
            <app-article-card *ngFor="let ar of articles?.articles" [article]="ar"
                (readFullArticleEvent)="onReadFullArticleClick($event)">
            </app-article-card>
        </div>
    </div>

    <ng-template #loaderContent>
        <div *ngIf="displayLoader" class="loader-content">
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>
</div>