<p>
    <mat-toolbar color="primary">
        <div class="col-sm-3">
            <span style="cursor: pointer;" routerLink="/">News Portal</span>
        </div>
        <div class="col-sm-6" style="padding: 0;">
            <div class="input-group">
                <input type="text" [(ngModel)]="searchTerm" class="form-control" placeholder="Search articles..."
                    aria-label="Search articles..." aria-describedby="basic-addon1" style="border-radius: 30px;">
                <div class="input-group-append">
                    <button (click)="onSearchBtnClick()" mat-icon-button>
                        <mat-icon>search</mat-icon>
                    </button>
                    <!-- <span (click)="onSearchBtnClick()" style="cursor: pointer;" class="input-group-text">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
                    </span> -->
                </div>
            </div>
        </div>
    </mat-toolbar>
</p>

<div class="container">
    <div *ngIf="selectedArticle" style="display: flex; justify-content: center;">
        <app-md-article-card [article]="selectedArticle"></app-md-article-card>
    </div>
</div>