<p>
    <mat-toolbar color="primary">
        <div class="col-sm-3">
            <span style="cursor: pointer;" routerLink="/">News Portal</span>
        </div>
        <div class="col-sm-6" style="padding: 0;">
            <app-search-bar (onSearchEvent)="onSearch($event)" [placeholder]="'Search articles...'"></app-search-bar>
        </div>
    </mat-toolbar>
</p>

<div class="container">
    <div *ngIf="selectedArticle" class="article-detail-card">
        <app-md-article-card [article]="selectedArticle"></app-md-article-card>
    </div>
</div>